@font-face {
  font-family: dotty;
  src: url(/fonts/dotty.ttf);
}

#operatorButtons{
  margin-top: 20px;
  /*float: left;*/
}

#digitButton {
  background-color: orange;
}


.jumbotron h1 {
  text-align: center;
}
