@font-face {
  font-family: dotty;
  src: url(/fonts/dotty.ttf);
}

#operatorButtons{
  margin-top: 20px;
}

#digitButtons {
  display: block;
  margin: auto;
  width: 50%;

}

.jumbotron h1 {
  text-align: center;
}
